body{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(25, 25, 25);
    color: #eeeeee;
    /*font-family: 'Courier New', Courier, monospace;   for programing conteiners*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{font-size: 3rem;text-align: center;}
section{margin: 0 1rem 0 1rem;text-align: left;}
a{color: #a5e1ae;}
.code{
    color: rgb(207, 168, 251);
    font-family: 'Courier New', Courier, monospace;   
    text-align: left;
    background: rgb(65, 65, 65);
    width: 100%;
    padding: 1rem 0 1rem 0;
    border-radius: 5px;
}
.code div{
    margin-left: 1rem;
}
.codename{
    color: rgb(121, 121, 121);
}
ul li span{
    color: rgb(168, 225, 251);
}
